/**
* Admin Theme | Variables
*/

$admin-body-bg: #f4f4ec;
$admin-sidebar-bg: #000;
$admin-sidebar-submenu-bg: lighten(#000000, 15%);
$admin-sidebar-txt: darken(#ffffff, 10%);
$admin-sidebar-txt-hvr: #f3f438;
$admin-sidebar-icon-hvr: #f3f438;
$admin-sidebar-separator: lighten(#000000, 20%);
$admin-sidebar-icon: rgba(240, 246, 252, 0.6);

$admin-sidebar-active-txt: #000;
$admin-sidebar-active-bg: #f3f438;
$admin-sidebar-active-icon: #000;
$admin-sidebar-active-arrow: #000;

html.wp-toolbar {
  padding-top: 48px !important;
}

body.index-php {
  background: $admin-body-bg !important;

  #wpwrap {
    #wpcontent {
    }
  }
}

body.folded {
  #adminmenu {
    li.wp-menu-open {
    }
  }
}

/**
* Admin Theme | WP Admin Wrapper
*/
#wpwrap {
  /**
  * Admin Theme | Admin Sidebar Menu
  */
  #adminmenumain {
    /* Sidebar Back */
    #adminmenuback {
      background-color: $admin-sidebar-bg;
    }

    /* Sidebar Wrap */
    #adminmenuwrap {
      background-color: $admin-sidebar-bg;

      ul#adminmenu {
        background-color: $admin-sidebar-bg;
        margin: 0;

        #collapse-button {
          color: $admin-sidebar-txt;

          &:hover {
            color: $admin-sidebar-txt-hvr;
          }
        }

        a {
          color: $admin-sidebar-txt;

          &:hover,
          &:focus {
            color: $admin-sidebar-txt-hvr;
            background-color: $admin-sidebar-submenu-bg;

            .wp-menu-image {
              &::before {
                color: $admin-sidebar-icon-hvr;
              }
            }
          }
        }

        div.wp-menu-name {
          padding: 12px 0;
        }

        div.wp-menu-image {
          height: 42px !important;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            padding: 0;
          }

          &:before {
            padding: 12px 0;
          }
        }

        .wp-submenu {
          background-color: $admin-sidebar-submenu-bg;
          border-radius: 0 8px 8px 0;
        }

        li.wp-menu-separator {
          margin: 0;
          height: 2px;
          background: $admin-sidebar-separator;
        }

        li.opensub {
          div.wp-menu-image {
            &::before {
              color: $admin-sidebar-icon-hvr;
            }
          }
        }

        li {
          &.menu-top,
          &.opensub {
            &:hover {
              background-color: $admin-sidebar-submenu-bg;
              color: $admin-sidebar-txt-hvr;

              &::after {
                border-right-color: $admin-sidebar-txt-hvr;
                display: none;
              }

              .wp-menu-image {
                &::before {
                  color: $admin-sidebar-txt-hvr;
                }
              }
            }
          }

          &.wp-has-current-submenu {
            a.wp-has-current-submenu {
              background: $admin-sidebar-active-bg;
              color: $admin-sidebar-active-txt;

              &::after {
                border-right-color: $admin-sidebar-active-bg;
                display: none;
              }

              .wp-menu-image {
                &::before {
                  color: $admin-sidebar-active-icon;
                }

                img {
                  filter: invert(1);
                }
              }
            }

            .wp-submenu {
              background-color: $admin-sidebar-submenu-bg;
            }
          }

          &#menu-dashboard {
            a {
              .wp-menu-image {
                &::before {
                  content: "";
                  mask-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-3' transform='translate(-12, -61)' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(12, 61)'%3E%3Crect id='Rectangle' x='1' y='8.46666667' width='5.57894737' height='4.53333333' rx='2'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-9' x='1' y='1' width='5.57894737' height='4.53333333' rx='2'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-8' x='9.42105263' y='1' width='5.57894737' height='4.53333333' rx='2'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-10' x='9.42105263' y='8.46666667' width='5.57894737' height='4.53333333' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  mask-size: 18px 18px;
                  mask-repeat: no-repeat;
                  mask-position: center;
                  vertical-align: middle;
                  background: $admin-sidebar-icon;
                }
              }

              &.wp-has-current-submenu {
              }
            }
          }

          &#menu-dashboard.wp-has-current-submenu {
            a.wp-has-current-submenu {
              .wp-menu-image {
                &::before {
                  background: $admin-sidebar-active-icon;
                }
              }
            }
          }
        }
      }
    }
  }

  /**
  * Admin Theme | WP Content
  */
  #wpcontent {
    padding-top: 20px;

    /* WP Admin Topbar */
    #wpadminbar {
      padding: 8px !important;
      box-sizing: border-box;
      height: 48px !important;
      border-radius: 0 0 30px 0;
      background: #000000 !important;

      &:not(.mobile),
      &.nojq {
        .ab-top-menu {
          > li {
            > .ab-item {
              background: transparent;
              color: $admin-sidebar-txt;

              .ab-label {
                color: $admin-sidebar-txt;
              }

              &::before {
                color: $admin-sidebar-icon;
              }

              &:focus,
              &:hover {
                background: transparent !important;
                color: #f3f438;

                &::before {
                  color: #f3f438;
                }

                .ab-label {
                  color: #f3f438;
                }
              }
            }
          }
        }
      }

      #wp-toolbar {
        #wp-admin-bar-root-default,
        #wp-admin-bar-top-secondary {
          li {
            a.ab-item {
              &:hover,
              &:focus {
                background: transparent !important;
                color: #f3f438 !important;

                &::before {
                  color: #f3f438 !important;
                }

                .ab-label {
                  color: #f3f438 !important;
                }
              }
            }

            .ab-sub-wrapper {
              background: $admin-sidebar-submenu-bg !important;
              border-radius: 8px;
            }
          }
        }

        #wp-admin-bar-root-default {
          li {
            &#wp-admin-bar-studiotempel {
              .ab-item {
                padding: 0;
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: transparent;

                img {
                  display: block;
                }
              }
            }
          }
        }

        #wp-admin-bar-top-secondary {
          #wp-admin-bar-my-account {
            .ab-item {
              .avatar {
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  /**
  * Admin Theme | WP Footer
  */
  #wpfooter {
  }
}

.curtime #timestamp {
  * {
    display: none;
  }

  b {
    display: inline-block !important;
  }
}

#screen-meta-links .show-settings {
  border: none !important;
  box-shadow: 0 2px 0 #e6e6e6;
  border-radius: 0 0 4px 4px;
}

#titlediv #title,
.acf-flexible-content .layout,
.postbox {
  border: none !important;
  box-shadow: 0 2px 0 #e6e6e6;
  border-radius: 4px;

  &:only-child {
    margin-bottom: 0;
  }
}

.notice {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  box-shadow: 0 2px 0 #e6e6e6;
  border-radius: 4px;
}

div {
  &.error,
  &.updated {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: 0 2px 0 #e6e6e6;
    border-radius: 4px;
  }
}

.postbox .postbox-header,
.acf-flexible-content .layout .acf-fc-layout-handle {
  border-bottom: #e2e7e8 solid 1px !important;
}

.acf-fields > .acf-field.acf-field-wysiwyg {
  /*    padding: 0;*/
}

.acf-editor-wrap .wp-editor-container {
  border: #e2e7e8 solid 1px !important;

  /*    border: none !important;*/
}

#wpadminbar #wp-admin-bar-my-account.with-avatar > {
  .ab-empty-item img,
  a img {
    height: 22px;
  }
}

div.mce-toolbar-grp {
  background: #fff !important;
  border-bottom: 1px solid #e2e7e8 !important;
}

.acf-editor-wrap {
  .wp-editor-tabs .wp-switch-editor {
    border: none !important;
    background: transparent;
    top: 2px !important;
    border-radius: 4px 4px 0 0;
  }

  &.tmce-active .wp-editor-tabs .wp-switch-editor.switch-tmce,
  &.html-active .wp-editor-tabs .wp-switch-editor.switch-html {
    /*    background: #E2E7E8 !important;*/
    border: 1px solid #e2e7e8 !important;
    border-bottom: #fff !important;
  }
}

.mce-top-part::before {
  display: none;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
  background: transparent !important;
  border-radius: 4px !important;
  border-color: #50575e !important;
}

.wpseo-meta-section,
.wpseo-meta-section-react,
.wpseo-metabox-content,
.wpseo-metabox-menu {
  max-width: 1500px !important;
}

.wpseo-meta-section,
.wpseo-meta-section-react {
  border: 1px solid #e2e7e8 !important;
}

.yoast-zapier-text {
  display: none !important;
}

#postimagediv {
  .postbox-header {
    border: none !important;
  }

  .inside {
    margin: 0 !important;
    padding: 0;

    p {
      &:first-child {
        margin: 0 !important;
        padding: 0 !important;
      }

      margin: 0 !important;
      padding: 0 !important;
    }
  }

  a#set-post-thumbnail {
    line-height: 50px !important;
  }

  .inside p:first-child {
    img,
    a#set-post-thumbnail {
      margin-top: 3px !important;
      width: 100%;
      height: auto;
      text-align: center;
    }
  }
}

#set-post-thumbnail-desc {
  display: none !important;
}

tr.user-admin-color-wrap {
  display: none;
}

/*.wp-editor-tools {*/
/*    position: absolute !important;*/
/*    width: 100% !important;*/
/*    top: -35px !important;*/
/*}*/

.submitbox {
  #duplicate-action,
  #rewrite-republish-action {
    display: none;
  }

  #major-publishing-actions {
    background: transparent !important;
  }
}

#postimagediv a#remove-post-thumbnail {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: url("https://studiotempel.nl/branding/bin-icon.svg") center
    no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  color: transparent;
  overflow: hidden;

  &:hover {
    border: 1px solid #b32d2e;
  }
}

//.wp-list-table {
//    background: transparent !important;
//    border: none !important;
//    box-shadow: none !important;
//}

/*.widefat tfoot td, .widefat tfoot th,*/
/*.widefat thead td, .widefat thead th {*/
/*    !*border: none !important;*!*/
/*}*/

/*#the-list tr {*/
/*    background: white !important;*/
/*    box-shadow: 0 2px 0 #E6E6E6;*/
/*    border-radius: 4px;*/
/*}*/

#media-attachment-smush-filter,
#wpseo-readability-filter,
#wpseo-filter {
  display: none;
}

.acf-field.large-text input {
  font-size: 2em;
}

a.submitdelete.deletion {
  background: url("https://studiotempel.nl/branding/bin-icon.svg") center
    no-repeat;
  color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50px;
  border: 1px solid white;

  &:hover {
    background: url("https://studiotempel.nl/branding/bin-icon.svg") center
      no-repeat;
    color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50px;
    border: 1px solid #b32d2e;
  }
}

.wp-core-ui {
  .button,
  .button-primary,
  .button-secondary,
  select {
    border-radius: 50px !important;
  }
}

/*#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {*/
/*    background: #000000 !important;*/
/*}*/

/*#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {*/
/*    border: none !important;*/
/*    box-shadow: none !important;*/
/*}*/

/*.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {*/
/*    background: transparent !important;*/
/*}*/

/*.alternate, .striped>tbody>:nth-child(even), ul.striped>:nth-child(even) {*/
/*    background: white !important;*/
/*}*/
