div.tmpl-wrap {
    font-family: 'aktiv-grotesk', sans-serif;
    background: $black;
    padding: 20px;
    border-radius: 0 0 48px 0;
    margin: 20px 20px 20px 0;

    div.tmpl-header {

    }

    div.tmpl-content {

    }

    div.tmpl-footer {

    }
}