@media screen {
  html {
    margin-top: 0 !important;
  }
}

/**
 * Toolbar Theme | Variables
*/
$wp-toolbar-bg: #fff;
$wp-toolbar-bg-dark: #1a1a1a;

$wp-toolbar-txt: #82878c;
$wp-toolbar-txt-dark: #fff;

$wp-toolbar-txt-hvr: #3498db;
$wp-toolbar-txt-hvr-dark: #f3f438;

#wpadminbar {
  top: auto !important;
  bottom: 15px;
  width: auto !important;
  min-width: 0 !important;
  left: 50% !important;
  position: fixed;
  transform: translateX(-50%);
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  height: auto !important;

  background: $wp-toolbar-bg !important;
  color: $wp-toolbar-txt !important;

  @media (max-width: 600px) {
    padding: 0 5px !important;
    position: fixed !important;
    bottom: 10px !important;
  }

  #wp-toolbar {
    * {
      font-size: 13px !important;
    }

    ul#wp-admin-bar-root-default {
      display: flex;
      justify-content: center;

      li {
        .ab-item {
          color: #82878c !important;
          transition: all 0.3s ease;

          &:before {
            color: #82878c !important;
          }

          &:focus {
            background: transparent;
          }

          .ab-label {
            color: #82878c !important;

            &:hover {
              color: #3498db !important;
            }
          }
        }

        &:hover {
          .ab-item {
            background: transparent !important;
            color: $wp-toolbar-txt-hvr !important;

            &::before {
              color: $wp-toolbar-txt-hvr !important;
            }
          }
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background: $wp-toolbar-bg-dark !important;
    color: $wp-toolbar-txt-dark !important;

    #wp-toolbar {
      ul#wp-admin-bar-root-default {
        li:hover {
          .ab-item {
            color: $wp-toolbar-txt-hvr-dark !important;

            &:before {
              color: $wp-toolbar-txt-hvr-dark !important;
            }

            .ab-label {
              color: $wp-toolbar-txt-hvr-dark !important;
            }
          }
        }
      }
    }
  }
}

#wp-admin-bar-carerix_admin_group,
#wp-admin-bar-exactmetrics_frontend_button,
#wp-admin-bar-enable-jquery-migrate-helper {
  display: none !important;
}

#wpadminbar {
  #wp-admin-bar-studiotempel,
  .exactmetrics-adminbar-menu-item,
  .ab-sub-wrapper,
  #wp-admin-bar-studiotempel {
    display: none !important;
  }

  #wp-admin-bar-wpseo-menu {
    display: none !important;
  }
}

#wp-admin-bar-rank-math,
#wp-admin-bar-paytium {
  display: none !important;
}

#wpadminbar {
  #wp-admin-bar-customize,
  #wp-admin-bar-updates,
  #wp-admin-bar-rs_theme_options,
  #wp-admin-bar-nr7-vergelijker,
  #wp-admin-bar-new-draft,
  #wp-admin-bar-google-site-kit,
  #wp-admin-bar-wphb,
  #wp-admin-bar-duplicate-post,
  #wp-admin-bar-new-content,
  #wp-admin-bar-top-secondary {
    display: none !important;
  }
}
