.tmpl_settings__wrap {
  border-left: 2px solid #363636;
  border-top: 2px solid #363636;
  border-top-left-radius: 15px;
  min-height: calc(100vh - 50px);

  .tmpl_settings__page {
    .tmpl_settings__inner {
      display: flex;

      .settings__sidebar {
        min-width: 250px;
        flex: 0 1 250px;

        .sidebar__inner {
          padding: 35px 25px;
          position: sticky;
          top: 40px;

          .sidebar__header {
            .sidebar__title {
              font-size: 1.8rem;
              line-height: 1;
              font-weight: 600;
              margin: 0 0 30px 0;
              color: #fff;
            }
          }

          .sidebar__nav {
            .nav__inner {
              ul {
                display: flex;
                flex-direction: column;
                gap: 6px;

                li {
                  a {
                    display: block;
                    color: #fff;
                    font-size: 0.9rem;
                    padding: 10px 15px;
                    text-decoration: none;
                    font-weight: 500;
                    border-radius: 12px;
                    transition: all 0.3s ease;
                    background-color: #1c1c1c;
                    border: 1px solid #3d3d3d;

                    &:hover,
                    &:focus {
                      background-color: #1c1c1c;
                      color: #d4d4d4;
                    }

                    &.active {
                      background-color: #f3f438;
                      color: #000;
                      border-color: transparent;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .settings__header {
        padding: 30px 0 0 0;
        position: relative;
        //background-color: #f9fafc;
        background-color: #232323;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          //background-color: #cbd4e1;
        }

        .header__inner {
          padding: 0 30px;

          .header__title {
            font-size: 2rem;
            line-height: 1;
            font-weight: 700;
            margin: 0 0 30px 0;
            color: #fff;
          }

          .header__nav {
            .nav__inner {
              display: flex;
              gap: 10px;

              a.nav__item {
                position: relative;
                display: block;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;
                //color: #505050;
                padding: 12px 16px;
                z-index: 1;

                background-color: #000;
                color: #fff;
                border-radius: 12px;
                border: 2px solid #212121;
                transition: all 0.3s ease;

                &:hover {
                  color: #000;
                  background-color: #f3f438;
                  border-color: transparent;
                }

                &.active {
                  color: #000;
                  background-color: #f3f438;
                  border-color: transparent;
                  //background-color: #212121;
                }
              }
            }
          }
        }
      }

      .settings__body {
        display: flex;
        justify-content: center;
        width: 100%;

        .body__inner {
          padding: 60px 30px;
          width: 100%;
          max-width: 80%;

          form {
          }

          .settings__category {
            margin: 0 0 50px 0;

            .category__header {
              margin: 0;
              padding-bottom: 20px;
              display: flex;
              align-items: center;
              border-bottom: 1px solid #2b2b2b;

              .category__label__wrap {
                width: 50%;
                padding-right: 50px;
              }

              .category__title {
                font-size: 1.5rem;
                font-weight: 700;
                color: #ffffff;
                margin: 0 0 8px 0;
              }

              .category__description {
                font-size: 0.8rem;
                line-height: 1.3;
                font-weight: 300;
                color: #9b9b9b;
              }

              .category__input__wrap {
              }
            }

            .category__content {
              &.content__collapsable {
                display: none;
              }

              &.content__open {
                display: block;
              }

              .settings__field {
                border: solid #2b2b2b;
                border-width: 1px 0 0 0;
                margin: 0;

                &:first-child {
                  border: none;
                }

                .settings__field__inner {
                  padding: 20px 0;
                  display: flex;
                  align-items: center;
                }

                .settings__label__wrap {
                  display: inline-block;
                  width: 50%;
                  padding-right: 50px;

                  label {
                    font-size: 0.95rem;
                    font-weight: 500;
                    color: #ffffff;

                    .label__desc {
                      display: block;
                      font-size: 0.8rem;
                      line-height: 1.2;
                      padding: 5px 50px 0 0;
                      color: #9b9b9b;
                      font-weight: 400;
                      text-wrap: balance;
                    }
                  }
                }

                .settings__input__wrap {
                  display: inline-block;
                  max-width: 70%;

                  .input__wrap__inner {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                  }

                  .filepond--root {
                    width: 300px;
                    margin: 0;

                    .filepond--credits {
                      display: none;
                    }
                  }

                  .settings__input {
                    background-color: #fff;
                  }

                  select {
                    max-height: 30px;
                  }

                  input[type="text"],
                  input[type="url"],
                  input[type="time"],
                  select {
                    min-width: 300px;
                    border-radius: 8px;
                    padding: 5px 10px;
                    outline: none;
                    color: #fff;
                    background-color: #000;
                    border: 1px solid #292929;

                    &:focus {
                      outline: none;
                    }
                  }

                  span.select2 {
                    width: 300px;
                    max-width: 300px;
                    .selection {
                      .select2-selection {
                        color: #fff;
                        background-color: #000;
                        border: 1px solid #292929;
                        height: auto;
                        padding: 5px 10px;

                        .select2-selection__rendered {
                          color: #fff;
                          line-height: 2;
                          font-size: 14px;
                          padding: 0;
                        }

                        .select2-selection__clear {
                          display: none;
                        }
                      }

                      ul.select2-selection__rendered {
                        li {
                          color: #fff;
                          background-color: #000;
                          border: 1px solid #292929;
                          border-radius: 8px;
                          padding: 5px 10px 5px 15px;
                          margin: 0 5px 5px 0;
                          font-size: 12px;
                          line-height: 1;

                          button {
                            color: #fff;
                            background-color: #000;
                            border: none;
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                            line-height: 1;
                            cursor: pointer;
                            left: 4px;
                            top: 50%;
                            transform: translateY(-50%);
                          }
                        }
                      }
                    }
                  }

                  button.button {
                    font-size: 0.8rem;
                    line-height: 1;
                    padding: 10px 15px;
                    text-decoration: none;
                    font-weight: 500;
                    border-radius: 12px !important;
                    transition: all 0.3s ease;
                    background-color: #1c1c1c;
                    border: 1px solid #202020;
                    color: #fff;

                    &:hover,
                    &:focus,
                    &:active {
                      background-color: #3d3d3d;
                      outline: none;
                    }
                  }
                }
              }
            }
          }

          .settings__form__footer {
            .form__footer__inner {
              input[type="submit"] {
                font-size: 0.9rem;
                line-height: 1;
                padding: 12px 15px;
                text-decoration: none;
                font-weight: 500;
                border-radius: 12px !important;
                transition: all 0.3s ease;
                background-color: #f3f438;
                color: #000;
                border: none;
              }
            }
          }
        }
      }
    }
  }

  label.checkbox__switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 50px;

    input[type="checkbox"] {
      display: none;
    }

    span.checkbox__switch__slider {
      background-color: #3d3d3d;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;
      border-radius: 34px;

      &::before {
        background-color: #000;
        bottom: 4px;
        content: "";
        height: 17px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 17px;
        border-radius: 50%;
      }
    }

    input[type="checkbox"]:checked + span.checkbox__switch__slider {
      background-color: #f3f438;

      &::before {
        transform: translateX(23px);
      }
    }
  }
}

body.wp-admin.tempel-settings_page_tempel-widget-settings,
body.wp-admin.tempel-settings_page_tempel-login-settings,
body.wp-admin.toplevel_page_tempel-widget-settings,
body.wp-admin.toplevel_page_tempel-settings,
body.tempel-settings_page_tempel-cloudways-settings {
  //background-color: #fff !important;

  background-color: #000 !important;

  #wpcontent {
    padding: 0;

    #wpbody {
      #wpbody-content {
        padding: 0;
      }
    }
  }

  #wpfooter {
    display: none;
  }

  span.select2-container {
    .select2-dropdown {
      color: #fff;
      background-color: #000;
      border: 1px solid #292929;

      .select2-results {
        .select2-results__options {
          .select2-results__option {
            &--selected {
              background-color: #f3f438;
              color: #000;
            }
          }
        }
      }
    }
  }

  .flatpickr-calendar {
    background-color: #000;

    &::before,
    &::after {
      display: none;
    }

    .flatpickr-time {
      border-top: none;

      .flatpickr-time-separator {
        color: #fff;
      }

      .numInputWrapper {
        .numInput {
          background-color: #000;
          color: #fff;
        }

        .arrowUp {
          &::after {
            border-bottom-color: #fff;
          }
        }

        .arrowDown {
          &::after {
            border-top-color: #fff;
          }
        }
      }
    }
  }
}
