.tmpl_settings__wrap {
  .tmpl_settings__page {
    //background-color: #f4f4ec;

    .tmpl_settings__inner {
      .settings__header {
        padding: 50px 0 0 0;
        position: relative;
        background-color: #f9fafc;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #cbd4e1;
        }

        .header__inner {
          padding: 0 30px;

          .header__title {
            font-size: 2.75rem;
            line-height: 1.2;
            font-weight: 700;
            margin: 0 0 30px 0;
            color: #000;
            //color: #fff;
          }

          .header__nav {
            .nav__inner {
              a.nav__item {
                position: relative;
                display: inline-block;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;
                //color: #505050;
                color: #000;
                //color: #fff;
                padding: 15px 20px;
                z-index: 1;

                &.active {
                  color: #000;
                  border-bottom: 1px solid #000;
                }
              }
            }
          }
        }
      }

      .settings__body {
        .body__inner {
          padding: 40px 30px;

          form {
          }

          .settings__category {
            margin: 0 0 40px 0;

            .category__header {
              margin: 0 0 20px 0;

              .category__title {
                font-size: 1.5rem;
                font-weight: 700;
                color: #000;
                margin: 0 0 8px 0;
              }

              .category__description {
                font-size: 0.8rem;
                font-weight: 400;
                color: #828c96;
              }
            }

            .category__content {
              .settings__field {
                border: solid #eef0f1;
                border-width: 2px 0 0 0;
                margin: 0;

                .settings__field__inner {
                  padding: 20px 0;
                  display: flex;
                  align-items: center;
                }

                .settings__label__wrap {
                  display: inline-block;
                  width: 25%;
                  padding-right: 50px;

                  label {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #000;

                    .label__desc {
                      display: block;
                      font-size: 0.8rem;
                      line-height: 1.1;
                      padding: 5px 50px 0 0;
                      color: #828c96;
                      font-weight: 400;
                      text-wrap: balance;
                    }
                  }
                }

                .settings__input__wrap {
                  display: inline-block;
                  max-width: 70%;

                  .input__wrap__inner {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                  }

                  .select2-container {
                    width: 300px;

                    .selection {
                      .select2-selection {
                        padding-bottom: 0;
                      }
                    }
                  }
                  .filepond--root {
                    width: 300px;
                    margin: 0;

                    .filepond--credits {
                      display: none;
                    }
                  }

                  .settings__input {
                    background-color: #fff;
                  }

                  select {
                    max-height: 30px;
                  }

                  input[type="text"],
                  input[type="url"],
                  input[type="time"],
                  select {
                    min-width: 300px;
                    border-radius: 8px;
                    padding: 5px 10px;
                    outline: none;

                    &:focus {
                      outline: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  label.checkbox__switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 50px;

    input[type="checkbox"] {
      display: none;
    }

    span.checkbox__switch__slider {
      background-color: #ddd;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;
      border-radius: 34px;

      &::before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 17px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 17px;
        border-radius: 50%;
      }
    }

    input[type="checkbox"]:checked + span.checkbox__switch__slider {
      background-color: #2271b1;

      &::before {
        transform: translateX(23px);
      }
    }
  }
}

body.wp-admin.tempel-settings_page_tempel-widget-settings,
body.wp-admin.tempel-settings_page_tempel-login-settings,
body.wp-admin.toplevel_page_tempel-settings {
  background-color: #fff !important;

  #wpcontent {
    padding: 0;
  }
}
