html.wp-toolbar {
    padding-top: 48px !important;
}

#wpadminbar {
    padding: 8px !important;
    box-sizing: border-box;
    height: 48px !important;
    border-radius: 0 0 30px 0;
}

body {
    background: #E6ECEE !important;
}

#wpadminbar {
    background: #000000 !important;
}

#wpadminbar #wp-admin-bar-new-content,
#wpadminbar #wp-admin-bar-customize {
    display: none;
}

#wp-admin-bar-enable-jquery-migrate-helper,
#wp-admin-bar-exactmetrics_frontend_button {
    display: none !important;
}

#adminmenu {
    margin: 0;
}

#wp-admin-bar-my-account img.avatar {
    border-radius: 50%;
}

#adminmenu div.wp-menu-name {
    padding: 12px 0;
}

#adminmenu li.wp-menu-separator {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    height: 1px;
    background: #0C0C0C;
}

div.wp-menu-image {
    height: 42px !important;
}

div.wp-menu-image:before {
    padding: 12px 0;
}

.post-attributes-help-text {
    display: none;
}

.curtime #timestamp * {
    display: none;
}

.curtime #timestamp b {
    display: inline-block !important;
}

a {
    color: #0191FF
}

a:active, a:focus, a:hover {
    color: #0062AE
}


#screen-meta-links .show-settings {
    border: none !important;
    box-shadow: 0 2px 0 #E6E6E6;
    border-radius: 0 0 4px 4px;
}

#titlediv #title,
.acf-flexible-content .layout,
.postbox {
    border: none !important;
    box-shadow: 0 2px 0 #E6E6E6;
    border-radius: 4px;
}

.notice, div.error, div.updated {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: 0 2px 0 #E6E6E6;
    border-radius: 4px;
}


.postbox .postbox-header,
.acf-flexible-content .layout .acf-fc-layout-handle {
    border-bottom: #E2E7E8 solid 1px !important;
}

.acf-fields > .acf-field.acf-field-wysiwyg {
    /*    padding: 0;*/
}

.acf-editor-wrap .wp-editor-container {
    border: #E2E7E8 solid 1px !important;
    /*    border: none !important;*/

}

#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
    height: 22px;
}

div.mce-toolbar-grp {
    background: #fff !important;
    border-bottom: 1px solid #E2E7E8 !important;
}

body.acf-autosize-enabled .acf-field:not(.no-autosize) .mce-tinymce:not(.mce-fullscreen) .mce-top-part {
    top: 42px !important;
}

.acf-editor-wrap .wp-editor-tabs .wp-switch-editor {
    border: none !important;
    background: transparent;
    top: 2px !important;
    border-radius: 4px 4px 0 0;
}

.acf-editor-wrap.tmce-active .wp-editor-tabs .wp-switch-editor.switch-tmce {
    /*    background: #E2E7E8 !important;*/
    border: 1px solid #E2E7E8 !important;
    border-bottom: #fff !important;
}

.acf-editor-wrap.html-active .wp-editor-tabs .wp-switch-editor.switch-html {
    /*    background: #E2E7E8 !important;*/
    border: 1px solid #E2E7E8 !important;
    border-bottom: #fff !important;
}

.mce-top-part::before {
    display: none;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
    background: transparent !important;
    border-radius: 4px !important;
    border-color: #50575E !important;
}

.wpseo-meta-section, .wpseo-meta-section-react {
    max-width: 1500px !important;
}

.wpseo-metabox-content,
.wpseo-metabox-menu {
    max-width: 1500px !important;
}

.wpseo-meta-section, .wpseo-meta-section-react {
    border: 1px solid #E2E7E8 !important;
}

.yoast-zapier-text {
    display: none !important;
}

#postimagediv .postbox-header {
    border: none !important;
}

#postimagediv .inside {
    margin: 0 !important;
    padding: 0;
}

#postimagediv .inside p:first-child {
    margin: 0 !important;
    padding: 0 !important;

}

#postimagediv .inside p {
    margin: 0 !important;
    padding: 0 !important;
}

#postimagediv a#set-post-thumbnail {
    line-height: 50px !important;
}

#postimagediv .inside p:first-child img, #postimagediv .inside p:first-child a#set-post-thumbnail {
    margin-top: 3px !important;
    width: 100%;
    height: auto;
    text-align: center;
}

#set-post-thumbnail-desc {
    display: none !important;
}

tr.user-admin-color-wrap {
    display: none;
}

/*.wp-editor-tools {*/
/*    position: absolute !important;*/
/*    width: 100% !important;*/
/*    top: -35px !important;*/
/*}*/

.submitbox #duplicate-action, .submitbox #rewrite-republish-action {
    display: none;
}

.submitbox #major-publishing-actions {
    background: transparent !important;
}

#postimagediv a#remove-post-thumbnail {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: url("https://studiotempel.nl/branding/bin-icon.svg") center no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid white;
    color: transparent;
    overflow: hidden;
}

#postimagediv a#remove-post-thumbnail:hover {
    border: 1px solid #B32D2E;
}

/*.wp-list-table {*/
/*    background: transparent !important;*/
/*    border: none !important;*/
/*    box-shadow: none !important;*/
/*}*/

/*.widefat tfoot td, .widefat tfoot th,*/
/*.widefat thead td, .widefat thead th {*/
/*    !*border: none !important;*!*/
/*}*/

/*#the-list tr {*/
/*    background: white !important;*/
/*    box-shadow: 0 2px 0 #E6E6E6;*/
/*    border-radius: 4px;*/
/*}*/

#media-attachment-smush-filter,
#wpseo-readability-filter,
#wpseo-filter {
    display: none;
}

.acf-field.large-text input {
    font-size: 2em;
}

a.submitdelete.deletion {
    background: url("https://studiotempel.nl/branding/bin-icon.svg") center no-repeat;
    color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50px;
    border: 1px solid white;
}

a.submitdelete.deletion:hover{
    background: url("https://studiotempel.nl/branding/bin-icon.svg") center no-repeat;
    color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50px;
    border: 1px solid #B32D2E;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
    border-radius: 50px !important;
}

/*#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {*/
/*    background: #000000 !important;*/
/*}*/

/*#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {*/
/*    border: none !important;*/
/*    box-shadow: none !important;*/
/*}*/

/*.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {*/
/*    background: transparent !important;*/
/*}*/

/*.alternate, .striped>tbody>:nth-child(even), ul.striped>:nth-child(even) {*/
/*    background: white !important;*/
/*}*/

.wp-core-ui select {
    border-radius: 50px !important;
}